body {
    font-family: Tahoma, sans-serif;
}

footer, header, body div {
}

#header_title {
    font-size: x-large;
}

#header_subtitle {
    font-size: small;
}

@media screen and (min-width: 768px) and (min-device-width: 768px) {

    #header_title {
        font-size: xx-large;
    }

    #header_subtitle {
        font-size: medium;
    }

}
