body {
    font-family: Tahoma, sans-serif;
}

footer, header, body div {
}

header a img {
    width: 100px;
}

#header_title {
    font-size: x-large;
}

#header_subtitle {
    font-size: small;
}

#gallery img {
    display: block;
    margin: 5px;
    border-radius: 10px;
}

#gallery {
    margin-left: 5px;
    margin-right: 5px;
}

.slick-prev:before {
    color: black;
    margin-right: -5px;
}

.slick-next:before {
    color: black;
    margin-left: -5px;
}

.soc_links {
    width: 50px;
}

@media screen and (min-width: 768px) and (min-device-width: 768px) {

    #header_title {
        font-size: xx-large;
    }

    #header_subtitle {
        font-size: medium;
    }

}
